body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: var(--d_textFontSize);

    display: grid;
    grid-template-rows: 1fr 10fr 1fr;

    background-color: var(--baseCol);
    color: var(--textCol);
}

/* reference border */
body * {
    border: 1px solid white none;
}

:root {
    --baseCol: #1e2129;
    --secBaseCol: #13151a;
    --highlightCol: #00acc1;
    --textCol: #8e95a5;
    --whiteCol: white;

    --d_h1FontSize: calc(0.8rem + 1vw);
    --d_h2FontSize: calc(0.5rem + 1vw);
    --d_textFontSize: calc(0.3rem + 1vw);

    --m_h1FontSize: calc(0.8rem + 1vw);
    --m_h2FontSize: calc(.8rem + 1vw);
    --m_textFontSize: calc(0.7rem + 1vw);
}

/* HEADER - START*/
header {
    box-shadow: 0px 0.5px 0.5px 0.5px var(--secBaseCol);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#author {
    margin: 0 2vw 0 2vw;
    padding: 0.5vh calc(0.4rem + 0.5vw);

    background-color: var(--highlightCol);
    color: var(--whiteCol);
    font-size: var(--d_h1FontSize);
    font-weight: bold;

    border-radius: 0.2rem;
}

.topNav {
    list-style: none;
}

.topNav li {
    float: left;
    display: block;

    font-size: var(--d_h2FontSize);
    color: var(--textCol);

    padding: 0.5vh calc(0.5rem + 1vw);
}

.topNav li:hover {
    background-color: var(--secBaseCol);
    color: var(--highlightCol);
    border-radius: 0.2rem;
}
.topNav li.active{
    background-color: var(--secBaseCol);
    color: var(--highlightCol);
    border-radius: 0.2rem;
}

.topNav .hamburger {
    display: none;
}

@media screen and (max-width: 600px) {
    body {
        font-size: var(--m_textFontSize);
    }

    #navMenuContainer {
        position: relative;
    }

    .topNav {
        position: absolute;
        transform: translate(-100%, -50%);

        width: 50vw;
    }

    .topNav li {
        font-size: var(--m_h2FontSize);
    }

    .topNav li:not(.active) {
        display: none;
    }

    .topNav li.hamburger {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .topNav.responsiveNavMenu {
        transform: translate(-100%, -10%);
        background-color: var(--baseCol);
        border-bottom: 5px solid var(--highlightCol);
    }
    .topNav.responsiveNavMenu li {
        display: block;
        float: none;
        padding: 1rem 1rem;
    }
    .topNav.responsiveNavMenu li.hamburger{
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* HEADER - END */

/* CONTENT */
#content {
    overflow: hidden;
}

#content>article {
    display: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div {
    height: 50%;
    aspect-ratio: 1/1;

    border: 1px solid white;
    border-radius: 50%;
    margin: 0 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
}